@import "../../scss/variables";
@import "../../scss/mixins";

.dp-label {
    @include type-button-mini();
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 100%;
    margin: 0 $label-margin;

    .dp-label--value {
        display: inline-block;
        width: auto;
        max-width: 100%;
        padding: 0 ($label-padding * 2);
        background: $label-background;
        border-radius: $label-border-radius;
        line-height: $label-vertical-height;

        &.dp-label--gray {
            background: $label-background-gray;
            color: $label-color-gray;
        }
        &.dp-label--primary {
            background: $label-background-primary;
            color: $label-color-primary;
        }
        &.dp-label--blue {
            background: $label-background-blue;
            color: $label-color-blue;
        }
        &.dp-label--green {
            background: $label-background-green;
            color: $label-color-green;
        }
        &.dp-label--yellow {
            background: $label-background-yellow;
            color: $label-color-yellow;
        }
        &.dp-label--red {
            background: $label-background-red;
            color: $label-color-red;
        }
    }
}

/* Label Clickable */

.dp-label--clickable {

    &:hover {
        cursor: pointer;
    }
    .dp-label--value {

        &.dp-label--gray:hover {
            background: $label-background-gray-hover;
        }
        &.dp-label--primary:hover {
            background: $label-background-primary-hover;
        }
        &.dp-label--blue:hover {
            background: $label-background-blue-hover;
        }
        &.dp-label--green:hover {
            background: $label-background-green-hover;
        }
        &.dp-label--yellow:hover {
            background: $label-background-yellow-hover;
        }
        &.dp-label--red:hover {
            background: $label-background-red-hover;
        }
    }
}