@import '../../scss/variables';
@import '../../scss/mixins';

.dp-typography-display-1,
.dp-typography-display-2,
.dp-typography-display-3,
.dp-typography-display-4,
.dp-typography-list-1,
.dp-typography-list-2,
.dp-typography-list-3,
.dp-typography-body-1,
.dp-typography-body-2 {
  @extend %break-word;
  padding: $typography-padding 0;
}

.dp-typography-display-1 {
  @include type-display-1();
}
.dp-typography-display-2 {
  @include type-display-2();
}
.dp-typography-display-3 {
  @include type-display-3();
}
.dp-typography-display-4 {
  @include type-display-4();
}
.dp-typography-list-1 {
  @include type-list-1();
}
.dp-typography-list-2 {
  @include type-list-2();
}
.dp-typography-list-3 {
  @include type-list-3();
}
.dp-typography-list-4 {
  @include type-list-4();
}
.dp-typography-body-1 {
  @include type-body-1();
}
.dp-typography-body-2 {
  @include type-body-2();
}
.dp-typography-body-3 {
  @include type-body-2();
}
.dp-typography-mono {
  @include type-mono();
}
.material-icons {
  @include type-icon();
}

.dp-typography {
  &--purple {
    color: $color-purple !important;
  }
  &--blue {
    color: $color-blue !important;
  }
  &--green {
    color: $color-green !important;
  }
  &--yellow {
    color: $color-yellow !important;
  }
  &--red {
    color: $color-red !important;
  }
  &--gray {
    color: $color-gray !important;
  }
  &--black {
    color: $color-black !important;
  }
  &--white {
    color: $color-white !important;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Roboto */

@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Roboto Mono */

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/fonts/roboto-mono/RobotoMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/fonts/roboto-mono/RobotoMono-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/fonts/roboto-mono/RobotoMono-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/fonts/roboto-mono/RobotoMono-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../../assets/fonts/roboto-mono/RobotoMono-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Material Icons */

@font-face {
  font-family: 'Material Icons';
  src: url('../../../assets/fonts/material-icons/material-icons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
