@import "../../scss/variables";
@import "../../scss/mixins";

.dp-checkbox {
    display: block;
    position: relative;
    padding: $checkbox-padding 0;
    vertical-align: middle;

    .dp-checkbox--input {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
        opacity: 0;

        + .dp-checkbox--label {
            display: inline-block;
            position: relative;
            width: auto;
            min-width: $checkbox-width;
            height: 100%;
            min-height: $checkbox-height + 2;
            padding: 0 0 0 ($checkbox-padding * 6);
            margin: 0;
            line-height: $checkbox-height + 2;
            cursor: pointer;

            .material-icons {
                margin-left: $checkbox-margin * 2;
                line-height: inherit;
            }
            .dp-checkbox--value {
                @include type-button();
                @extend %break-word;
            }
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: $checkbox-height;
                height: $checkbox-height;
                background: $checkbox-background;
                border: $checkbox-border;
                border-radius: $checkbox-border-radius;
                box-shadow: $checkbox-box-shadow;
                outline: none;
                padding: 0;
                margin: $checkbox-margin - 5;
                font-family: "material icons";
                line-height: $checkbox-height - 2;
                text-align: center;
                content: "\e5ca";
                color: transparent;
            }
            &:hover,
            &:focus {

                .dp-checkbox--value {
                    color: $checkbox-color;
                }
                &:before {
                    border-color: $checkbox-color-border;
                    box-shadow: $checkbox-color-box-shadow;
                }
            }
        }
        &:hover,
        &:focus {

            + .dp-checkbox--label {

                .dp-checkbox--value {
                    color: $checkbox-color;
                }
                &:before {
                    border-color: $checkbox-color-border;
                    box-shadow: $checkbox-color-box-shadow;
                }
            }
        }
    }
}

/* checkbox checked */

.dp-checkbox {

    .dp-checkbox--input {

        &:checked {

            + .dp-checkbox--label {

                &:before {
                    background: $checkbox-color-background;
                    border-color: $checkbox-color-border;
                    box-shadow: $checkbox-color-box-shadow;
                    color: $checkbox-color-white;
                }
                .dp-checkbox--value {
                    color: $checkbox-color;
                }
            }
        }
    }
}

/* checkbox disabled */

.dp-checkbox {

    .dp-checkbox--input {

        &:disabled {

            + .dp-checkbox--label {
                display: inline-flex;
                color: $checkbox-color-gray;
                cursor: default;

                &:before {
                    background: $checkbox-background-disabled;
                }
                &:after {
                    @include type-icon();
                    margin-left: $checkbox-margin * 2;
                    line-height: inherit;
                    content: '\e897';
                }
                &:hover {

                    .dp-checkbox--value {
                        color: $checkbox-color-gray;
                    }
                    &:before {
                        border: $checkbox-border-disabled;
                        box-shadow: $checkbox-box-shadow-disabled;
                    }
                }
            }
            &:checked {

                + .dp-checkbox--label {

                    &:before {
                        border: $checkbox-border-disabled;
                        box-shadow: $checkbox-box-shadow-disabled;
                        color: $checkbox-color-gray;
                    }
                }
            }
        }
    }
}

/* checkbox with label */

.ms-ie,
.ms-edge {

    .dp-checkbox {

        .dp-checkbox--input {

            + .dp-checkbox--label {

                &:before {
                    box-shadow: none;
                }
            }
        }
    }
}
