@use "sass:math";

@import "../../scss/variables";
@import "../../scss/mixins";

.dp-list {
    display: block;
    padding: ($list-padding * 2) 0;
    list-style: none;
    text-align: left;

    .dp-list--item {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        flex-direction: list;
        flex-wrap: nowrap;
        align-items: center;
        padding: $list-padding;
        overflow: visible;

        .dp-list--sub,
        .dp-list--value {
            @include type-body-1();
            padding: math.div($list-padding, 2) 0;
        }
        .dp-list--sub {
            display: inline-block;
            color: $list-color-gray;

            .material-icons {
                margin-left: $list-margin;
                cursor: pointer;
            }
        }
        .dp-list--value {
            @extend %break-word;
        }
    }
}

/* List with Icons */

.dp-list {

    &.dp-list--icon {

        .dp-list--value,
        .dp-list--sub {
            padding-left: $list-padding * 6;
        }
        .material-icons {
            margin: math.div($list-margin, 2) 0;
            float: left;
            line-height: $list-padding * 4;
            color: $list-color;
            cursor: default;

            &:before {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }
            &.passed {
                color: $list-icon-passed;
            }
            &.warning {
                color: $list-icon-warning;
            }
            &.failed {
                color: $list-icon-failed;
            }
        }
    }
}

/* List with Image */

.dp-list {

    .dp-list--item {

        .dp-list--value {

            .dp-list--image {
                width: 50%;
                margin-top: $list-margin * 2;
            }
        }
    }
}

/* List with Divider */

.dp-list {

    .dp-list--item {

        &.dp-list--divider {
            padding-bottom: $list-padding * 4;
            margin-bottom: $list-margin * 4;
            border-bottom: $list-border-divider;
        }
    }
}

/* List with Outline */

.dp-list {

    &.dp-list--outline {
        border-radius: $list-border-radius;
        box-shadow: $list-box-shadow;

        .dp-list--item {
            padding: 0 ($list-padding * 4);
        }
    }
}
