@import "../../scss/variables";
@import "../../scss/mixins";

.dp-pagination {
    position: relative;
    text-align: center;
    margin: $pagination-margin auto;

    .dp-pagination--item {
        display: inline;
    }
    .dp-pagination--value {
        @include type-button();
        line-height: $pagination-line-height;
        vertical-align: middle;
        color: $pagination-color-gray;
    }
}