@import "../../scss/variables";
@import "../../scss/mixins";

.dp-message {
    display: block;
    width: 100%;

    .dp-message--list {

        .dp-message--item {
            padding: ($message-padding * 2) 0;

            .dp-message--value {
                @include type-body-1();
                @extend %break-word;
                padding: ($message-padding * 2) ($message-padding * 4);
                background: transparent;
                border-radius: $message-border-radius;
                color: $message-color-black;

                &.dp-message--primary {
                    background: $message-primary-background;
                    color: $message-primary-color;
                }
                &.dp-message--secondary {
                    background: $message-secondary-background;
                    color: $message-secondary-color;
                }
                &.dp-message--info {
                    background: $message-info-background;
                    color: $message-info-color;
                }
                &.dp-message--success {
                    background: $message-success-background;
                    color: $message-success-color;
                }
                &.dp-message--warning {
                    background: $message-warning-background;
                    color: $message-warning-color;
                }
                &.dp-message--error {
                    background: $message-error-background;
                    color: $message-error-color;
                }
            }
        }
    }
}

/* Message Clickable */

.dp-message {

    .dp-message--list {

        .dp-message--item {

            .dp-message--value {

                &[ng-click] {
                    cursor: pointer;

                    &.dp-message--info:hover {
                        background: $message-info-background-hover;
                    }
                    &.dp-message--success:hover {
                        background: $message-success-background-hover;
                    }
                    &.dp-message--warning:hover {
                        background: $message-warning-background-hover;
                    }
                    &.dp-message--error:hover {
                        background: $message-error-background-hover;
                    }
                }
            }
        }
    }
}

/* Message Button */

.dp-message {

    .dp-message--list {

        .dp-message--item {

            .dp-message--value {

                .dp-button {
                    margin: 0 !important;
                    margin-left: $button-margin !important;
                }
            }
        }
    }
}

/* Message with Tip */

.dp-message {

    &.dp-message--with-tip {
        float: left;

        .dp-message--list {

            .dp-message--item {
                text-align: center;

                .dp-message--value {
                    padding: 0;
                    color: $message-primary-color;

                    &:before {
                        padding-right: $message-padding * 2;
                        font-family: 'Material Icons';
                        font-size: 18px;
                        content: '\e90f';
                        vertical-align: middle;
                    }
                    &.dp-message--markdown {

                        &:before {
                            font-family: 'Ionicons';
                            content: '\f241';
                        }
                    }
                    .dp-button {
                        float: none;
                    }
                }
            }
        }
    }
}