@import "../../scss/variables";
@import "../../scss/mixins";

.dp-dialog {
    @include shadow-4dp();
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $dialog-background;
    border: $dialog-border;
    border-radius: $dialog-border-radius;
    text-align: left;

    .dp-dialog--content {
        height: auto;
        max-height: calc(100vh - 180px);
        padding: ($dialog-padding * 2) ($dialog-padding * 4);
        overflow: auto;

        .dp-dialog--title,
        .dp-dialog--subtitle,
        .dp-dialog--text {
            padding: $dialog-padding 0;
        }
        .dp-dialog--title {
            @include type-display-3();
            @extend %break-word;
            @extend %break-all;
            display: flex !important;
        }
        .dp-dialog--subtitle {
            @include type-button();
            color: $dialog-color-gray;
        }
        .dp-dialog--text {
            @include type-body-1();
            @extend %break-word;
        }
    }
    .dp-dialog--actions {
        padding: $dialog-padding * 4;
        border-top: $card-border;
        text-align: center;
    }
}