.header {
    text-align: left;
}

.header-content {
    vertical-align: middle;
    width: 100%;
}

.header-content .mat-icon {
    padding-right: .2em;
}

.header-content a {
    color: white;
    text-decoration: none;
}