<div>
    <p class="title">Light Controller</p>
</div>
<div *ngIf="loading">
    Loading....
</div>
<div *ngIf="!loading">
    <div *ngIf="zones.length > 1">
        <mat-label>Zones</mat-label>
        <mat-select  [(value)]="selectedZone">
            <mat-option *ngFor="let zone of zones" [value]="zone">
            {{ zone.description }}
            </mat-option>
        </mat-select>
    </div>
    <div *ngIf="selectedZone">
        Select Zone: {{selectedZone.id}}
        <mat-button-toggle-group [(value)] = "selectedZone.program" (change)="programChange($event)" name="fontStyle" aria-label="Font Style" >
            <mat-button-toggle  *ngFor="let program of programs;" [value]="program">{{program}}</mat-button-toggle>
          </mat-button-toggle-group>          
          
        <div *ngIf="selectedZone.program === 'timer'">
            Description: {{selectedZone.description}}<br/>
            Program: {{selectedZone.program}}<br/>
            State: {{selectedZone.state}}<br/>
            On: {{selectedZone.on}}<br/>
            Off: {{selectedZone.off}}<br/>
            Pin: {{selectedZone.pinNum}}<br/>
        </div>
        <div *ngIf="selectedZone.program === 'manual'">
            <section class="example-section">
                <mat-slide-toggle
                    (change)="toggle($event)"
                    [checked]="selectedZone.state == 'on'">
                    {{ selectedZone.state == 'on' ? "Turn Off" : "Turn On" }}
                </mat-slide-toggle>
              </section>
        </div>
    </div>
</div>