%clearfix {
  &:before {
    display: table;
    content: '';
  }
  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%break-word {
  display: block;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal !important;
}

%break-all {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    word-break: break-all;
  }
  @supports (-ms-ime-align: auto) {
    word-break: break-all;
  }
}
