@import 'mixins';

/* Colors */

$color-black: #111 !default;
$color-white: #fff !default;
$color-gray: tint($color-black,40%) !default;

$color-blue: #0095da !default;
$color-green: #00bfa5 !default;
$color-yellow: #ffab00 !default;
$color-orange: #ff6d00 !default;
$color-purple: #7e57c2 !default;
$color-deep-purple: #373db2 !default;
$color-red: #dd2c00 !default;
$color-pink: #ea3f7a !default;
$color-deep-pink: #a422c7 !default;

$color-opaque-black: rgba($color-black,0.70) !default;
$color-opaque-white: rgba($color-white,0.70) !default;
$color-opaque-blue: rgba($color-blue,0.30) !default;
$color-opaque-green: rgba($color-green,0.70) !default;
$color-opaque-yellow: rgba($color-yellow,0.30) !default;
$color-opaque-orange: rgba($color-orange,0.30) !default;
$color-opaque-purple: rgba($color-purple,0.30) !default;
$color-opaque-red: rgba($color-red,0.30) !default;
$color-opaque-pink: rgba($color-pink,0.70) !default;

/* Common Variables */

$background-common: $color-white !default;
$background-common-hover: rgba($color-black,0.10) !default;
$background-common-focus: rgba($color-black,0.15) !default;
$background-common-active: rgba($color-black,0.30) !default;
$background-common-error: $color-red !default;
$background-common-primary: $color-purple !default;
$background-common-opaque-white: rgba($color-white,0.80) !default;
$background-common-opaque-black: rgba($color-black,0.80) !default;
$background-common-opaque-primary: rgba($color-purple,0.15) !default;
$background-common-gray: rgba($color-black,0.05) !default;
$background-common-gray-solid: tint($color-black,15%) !default;

$border-common: 1px solid tint($color-black,70%) !default;
$border-common-hover: tint($color-black,50%) !default;
$border-common-focus: tint($color-black,40%) !default;
$border-common-error: $color-red !default;
$border-common-primary: $color-purple !default;
$border-common-opaque-primary: tint($color-purple,40%) !default;
$border-common-gray: 1px solid tint($color-black,85%) !default;

$border-radius-small: 4px !default;
$border-radius-medium: 6px !default;
$border-radius-large: 100px !default;

$box-shadow-common: 0 0 0 1px tint($color-black,70%) !default;
$box-shadow-common-hover: 0 0 0 1px tint($color-black,50%) !default;
$box-shadow-common-focus: 0 0 0 1px tint($color-black,40%) !default;
$box-shadow-common-error: 0 0 0 1px $color-red !default;
$box-shadow-common-primary: 0 0 0 1px $color-purple !default;
$box-shadow-common-opaque-primary: 0 0 0 1px tint($color-purple,40%) !default;

/* Typography */

$font-family: 'Roboto', 'Helvetica', sans-serif !default;

$typography-padding: 6px !default;
$typography-margin: 6px !default;

/* Button */

$button-width: 36px !default;
$button-height: 34px !default;
$button-padding: 16px !default;
$button-margin: 6px !default;
$button-background: $background-common !default;
$button-background-hover: $background-common-hover !default;
$button-background-focus: $background-common-focus !default;
$button-background-disabled: $background-common-hover !default;
$button-background-active: $background-common-opaque-primary !default;
$button-border: $border-common !default;
$button-border-hover: $border-common-hover !default;
$button-border-focus: $border-common-focus !default;
$button-border-radius: $border-radius-small !default;
$button-border-inline: tint($color-purple,70%) !default;
$button-font-size: 14px !default;
$button-dot: 8px !default;

/* Card */

$card-background: $background-common !default;
$card-border: $border-common !default;
$card-border-radius: $border-radius-small !default;
$card-margin: 6px !default;
$card-padding: 3px !default;

$card-color-gray: $color-gray !default;

/* Checkbox */

$checkbox-width: 24px !default;
$checkbox-height: 24px !default;
$checkbox-background: $background-common !default;
$checkbox-background-disabled: $background-common-hover !default;
$checkbox-border: $border-common !default;
$checkbox-border-disabled: $border-common !default;
$checkbox-border-radius: $border-radius-small !default;
$checkbox-box-shadow: $box-shadow-common !default;
$checkbox-box-shadow-disabled: $box-shadow-common !default;
$checkbox-padding: 6px !default;
$checkbox-margin: 6px !default;

$checkbox-color: $color-purple !default;
$checkbox-color-background: $background-common-primary !default;
$checkbox-color-border: $border-common-primary !default;
$checkbox-color-box-shadow: $box-shadow-common-primary !default;
$checkbox-color-white: $color-white !default;
$checkbox-color-gray: $color-gray !default;

/* Chip */

$chip-width: 18px !default;
$chip-height: 28px !default;
$chip-background: $background-common-primary !default;
$chip-background-disabled: $background-common-hover !default;
$chip-border-radius: $border-radius-large !default;
$chip-padding: 6px !default;
$chip-margin: 6px !default;

$chip-color-white: $color-white !default;
$chip-color-opaque: $color-opaque-white !default;

/* Dialog */

$dialog-background: $background-common !default;
$dialog-background-opaque: $background-common-opaque-black !default;
$dialog-border: $border-common !default;
$dialog-border-radius: $border-radius-small !default;
$dialog-padding: 6px !default;
$dialog-margin: 6px !default;

$dialog-color-gray: $color-gray !default;

/* Initial */

$initial-size: 6px !default;
$initial-background: $background-common-hover !default;
$initial-background-hover: $background-common-focus !default;
$initial-border-radius: $border-radius-large !default;
$initial-font-size: 14px !default;

/* Label */

$label-height: 18px !default;
$label-background: $background-common !default;
$label-border-radius: $border-radius-small !default;
$label-padding: 6px !default;
$label-margin: 6px !default;
$label-vertical-height: 24px !default;

$label-background-gray: tint($color-black,90%) !default;
$label-background-gray-hover: tint($color-black,70%) !default;
$label-color-gray: $color-gray !default;

$label-background-primary: tint($color-purple,80%) !default;
$label-background-primary-hover: tint($color-purple,60%) !default;
$label-color-primary: $color-purple !default;

$label-background-blue: tint($color-blue,80%) !default;
$label-background-blue-hover: tint($color-blue,60%) !default;
$label-color-blue: $color-blue !default;

$label-background-green: tint($color-green,80%) !default;
$label-background-green-hover: tint($color-green,60%) !default;
$label-color-green: $color-green !default;

$label-background-yellow: tint($color-yellow,80%) !default;
$label-background-yellow-hover: tint($color-yellow,60%) !default;
$label-color-yellow: $color-yellow !default;

$label-background-orange: tint($color-orange,80%) !default;
$label-background-orange-hover: tint($color-orange,60%) !default;
$label-color-orange: $color-orange !default;

$label-background-red: tint($color-red,80%) !default;
$label-background-red-hover: tint($color-red,60%) !default;
$label-color-red: $color-red !default;

/* Layout */

$layout: $color-black !default;
$layout-width: 24px !default;
$layout-height: 36px !default;
$layout-background: $background-common !default;
$layout-border: $border-common !default;
$layout-border-radius: $border-radius-small !default;
$layout-sidebar-background: $background-common-gray !default;
$layout-sidebar-border: $border-common-gray !default;
$layout-padding: 6px !default;
$layout-margin: 6px !default;
$layout-aside: 372px !default;
$layout-font-size: 24px !default;

$layout-color-opaque: $color-opaque-white !default;

/* List */

$list-width: 46px !default;
$list-height: 34px !default;
$list-background: $background-common-hover !default;
$list-border: $border-common !default;
$list-border-divider: $border-common-gray !default;
$list-border-radius: $border-radius-small !default;
$list-box-shadow: $box-shadow-common !default;
$list-padding: 6px !default;
$list-margin: 6px !default;

$list-color: $color-purple !default;
$list-color-gray: $color-gray !default;
$list-icon-passed: $color-green !default;
$list-icon-warning: $color-yellow !default;
$list-icon-failed: $color-red !default;

/* Menu */

$menu-width: 248px !default;
$menu-height: 34px !default;
$menu-background: $background-common !default;
$menu-background-hover: $background-common-hover !default;
$menu-background-active: $background-common-opaque-primary !default;
$menu-border: $border-common !default;
$menu-border-radius: $border-radius-small !default;
$menu-padding: 16px !default;
$menu-margin: 6px !default;
$menu-font-weight: 300 !default;
$menu-line-height: 24px !default;

$menu-color: $color-purple !default;
$menu-color-black: $color-black !default;
$menu-color-gray: $color-gray !default;

$menu-dot: 6px !default;
$menu-dot-background: $background-common-error !default;
$menu-dot-border-radius: $border-radius-large !default;

/* Message */

$message-padding: 6px !default;
$message-margin: 6px !default;
$message-border: $border-common !default;
$message-border-radius: $border-radius-small !default;
$message-box-shadow: $box-shadow-common !default;

$message-color: $color-purple !default;
$message-color-black: $color-black !default;

$message-primary-background: $background-common-hover !default;
$message-primary-color: $color-gray !default;

$message-secondary-background: tint($color-purple,80%) !default;
$message-secondary-color: $color-purple !default;

$message-info-background: tint($color-blue,80%) !default;
$message-info-background-hover: tint($color-blue,70%) !default;
$message-info-color: $color-blue !default;

$message-success-background: tint($color-green,80%) !default;
$message-success-background-hover: tint($color-green,70%) !default;
$message-success-color: $color-green !default;

$message-warning-background: tint($color-yellow,80%) !default;
$message-warning-background-hover: tint($color-yellow,70%) !default;
$message-warning-color: $color-yellow !default;

$message-error-background: tint($color-red,80%) !default;
$message-error-background-hover: tint($color-red,70%) !default;
$message-error-color: $color-red !default;

/* Pagination */

$pagination-margin: 24px !default;
$pagination-line-height: 24px !default;

$pagination-color-gray: $color-gray !default;

/* Radio Button */

$radio-width: 24px !default;
$radio-height: 24px !default;
$radio-background: $background-common !default;
$radio-background-disabled: $background-common-hover !default;
$radio-border: $border-common !default;
$radio-border-disabled: $border-common !default;
$radio-border-radius: $border-radius-large !default;
$radio-box-shadow: $box-shadow-common !default;
$radio-box-shadow-disabled: $box-shadow-common !default;
$radio-padding: 6px !default;
$radio-margin: 6px !default;

$radio-color: $color-purple !default;
$radio-color-border: $border-common-primary !default;
$radio-color-box-shadow: $box-shadow-common-primary !default;
$radio-color-white: $color-white !default;
$radio-color-gray: $color-gray !default;

$radio-card-background: $background-common-opaque-primary !default;
$radio-card-border-radius: $border-radius-medium !default;

/* Shadow */

$shadow-outer-opacity: 0.10 !default;
$shadow-ambient-opacity: 0.15 !default;
$shadow-inner-opacity: 0.05 !default;

/* Switch */

$switch-width: 48px !default;
$switch-height: 24px !default;
$switch-background: $background-common !default;
$switch-background-gray: $background-common-focus !default;
$switch-background-primary: $background-common-primary !default;
$switch-border-radius: $border-radius-large !default;
$switch-margin: 3px !default;
$switch-icon-size: 12px !default;

$switch-color-gray: $color-gray !default;
$switch-color-opaque: $color-opaque-white !default;

/* Snackbar */

$snackbar-background: $background-common-opaque-black !default;
$snackbar-padding: 6px !default;
$snackbar-margin: 6px !default;
$snackbar-line-height: 24px !default;
$snackbar-color: $color-white !default;

/* Spinner */

$spinner-margin: 6px !default;
$spinner-background: $background-common-opaque-black !default;
$spinner-border: 4px solid $color-opaque-purple !default;
$spinner-border-radius: 100% !default;
$spinner-border-inline: 3px solid $color-opaque-purple !default;
$spinner-border-mini: 2px solid $color-opaque-purple !default;

$spinner-size: 48px !default;
$spinner-speed: 0.75s !default;
$spinner-timing: linear !default;
$spinner-count: infinite !default;

/* Tab */

$tab-padding: 6px !default;
$tab-margin: 6px !default;
$tab-background: $background-common-primary !default;
$tab-border: $border-common !default;
$tab-color-black: $color-black !default;
$tab-color-gray: $color-gray !default;

/* Table */

$table-width: 24px !default;
$table-background-hover: $background-common-gray !default;
$table-background-active: $background-common-gray !default;
$table-background-color: $background-common-opaque-primary !default;
$table-background-diff-add: tint($color-green,80%) !default;
$table-background-diff-remove: tint($color-red,80%);
$table-border: $border-common !default;
$table-border-radius: $border-radius-small !default;
$table-padding: 24px !default;
$table-margin: 6px !default;
$table-line-height: 34px !default;

$table-color: $color-purple !default;
$table-color-gray: $color-gray !default;
$table-color-green: $color-green;
$table-color-red: $color-red;

/* Text Field */

$input-text-width: 100% !default;
$input-text-height: 48px !default;
$input-text-background: $background-common !default;
$input-text-background-disabled: $background-common-hover !default;
$input-text-border: $border-common !default;
$input-text-border-hover: $border-common-hover !default;
$input-text-border-focus: $border-common-opaque-primary !default;
$input-text-border-radius: $border-radius-small !default;
$input-text-box-shadow: $box-shadow-common !default;
$input-text-box-shadow-hover: $box-shadow-common-hover !default;
$input-text-box-shadow-focus:  $box-shadow-common-opaque-primary !default;
$input-text-padding: 16px !default;
$input-text-margin: 6px !default;
$input-text-font-size: 14px !default;
$input-text-label: $color-gray !default;
$input-text-label-color: $color-purple !default;

$input-text-color: $color-black !default;
$input-text-color-gray: $color-gray !default;
$input-text-color-red: $color-red !default;

/* Toggle */

$toggle-width: auto !default;
$toggle-background: $background-common !default;
$toggle-background-gray: $background-common-hover !default;
$toggle-border-radius: $border-radius-small !default;
$toggle-height: 28px !default;
$toggle-margin: 3px !default;

$toggle-color: $color-purple !default;
$toggle-color-gray: $color-gray !default;

/* Tooltip */

$tooltip-padding: 6px !default;
$tooltip-margin: 6px !default;
$tooltip-background: $background-common-opaque-black !default;
$tooltip-border-radius: $border-radius-small !default;
$tooltip-font-size: 12px !default;

$tooltip-color-white: $color-white !default;