.zone-info {
    display: block;
    padding: 1em 0;
}

.menus {
    display: block;
    white-space: nowrap;
    float: right;
}

.menus button {
    margin: 0px 4px;
}

button.zone-picker {
    padding: 5px 0px;
}

.heading {
    font-size: 140%;
    display: block;
}

.heading button {
    margin: 0px 4px;
}

.select-program {
    display: block;
    padding: 1em 0;
}

.mat-button-toggle-label-content {
    padding: 2px 8px;
    line-height: inherit;
}

.program-details {
    display: block;
    padding: 1em 0;
}