@import "../../scss/variables";
@import "../../scss/mixins";

.dp-radio {
    display: block;
    position: relative;
    padding: $radio-padding 0;
    vertical-align: middle;

    .dp-radio--input {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;

        + .dp-radio--label {
            display: inline-block;
            position: relative;
            width: auto;
            min-width: $radio-width;
            height: 100%;
            min-height: $radio-height + 2;
            padding: 0 0 0 ($radio-padding * 6);
            margin: 0;
            line-height: $radio-height + 2;
            cursor: pointer;

            .material-icons {
                margin-left: $checkbox-margin * 2;
                line-height: inherit;
            }
            .dp-radio--value {
                @include type-button();
                @extend %break-word;
            }
            &:before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: $radio-height;
                height: $radio-height;
                background: $radio-background;
                border: $radio-border;
                border-radius: $radio-border-radius;
                box-shadow: $radio-box-shadow;
                outline: none;
                padding: 0;
                margin: $radio-margin - 5;
                font-family: "Material Icons";
                line-height: $radio-height - 2;
                text-align: center;
                content: '\e3fa';
                color: transparent;
            }
            &:hover,
            &:focus {

                .dp-radio--value {
                    color: $radio-color;
                }
                &:before {
                    border-color: $radio-color-border;
                    box-shadow: $radio-color-box-shadow;
                }
            }
        }
        &:hover,
        &:focus {

            + .dp-radio--label {

                .dp-radio--value {
                    color: $radio-color;
                }
                &:before {
                    border-color: $radio-color-border;
                    box-shadow: $radio-color-box-shadow;
                }
            }
        }
    }
}

/* Radio Checked */

.dp-radio {

    .dp-radio--input {

        &:checked,
        &.dp-radio--input---checked {

            + .dp-radio--label {

                &:before {
                    background: $radio-color;
                    border-color: $radio-color-border;
                    box-shadow: $radio-color-box-shadow;
                    color: $radio-color-white;
                }
                .dp-radio--value {
                    color: $radio-color;
                }
            }
        }
    }
}

/* Radio Disabled */

.dp-radio {

    .dp-radio--input {

        &:disabled {

            + .dp-radio--label {
                display: inline-flex;
                color: $radio-color-gray;
                cursor: default;

                &:before {
                    background: $radio-background-disabled;
                }
                &:after {
                    @include type-icon();
                    margin-left: $radio-margin * 2;
                    line-height: inherit;
                    content: '\e897';
                }
                &:hover {

                    .dp-radio--value {
                        color: $radio-color-gray;
                    }
                    &:before {
                        border: $radio-border-disabled;
                        box-shadow: $radio-box-shadow-disabled;
                    }
                }
            }
            &:checked {

                + .dp-radio--label {

                    &:before {
                        border: $radio-border-disabled;
                        box-shadow: $radio-box-shadow-disabled;
                        color: $radio-color-gray;
                    }
                }
            }
        }
    }
}

/* Radio with Label */

.ms-ie,
.ms-edge {

    .dp-radio {

        .dp-radio--input {

            + .dp-radio--label {

                &:before {
                    box-shadow: none;
                }
            }
        }
    }
}