@import "../../scss/variables";
@import "../../scss/mixins";

.dp-card {
    @include shadow-4dp();
    display: inline-block;
    width: 372px;
    padding: 0;
    margin: 0 auto;
    background: $card-background;
    border: $card-border;
    border-radius: $card-border-radius;
    text-align: left;

    .dp-card--content {
        height: auto;
        max-height: 248px;
        padding: ($card-padding * 4);
        overflow-y: auto;

        .dp-card--title,
        .dp-card--subtitle,
        .dp-card--text {
            padding: $card-padding 0;
        }
        .dp-card--title {
            @include type-display-3();
            @extend %break-word;
            @extend %break-all;
            display: flex !important;
        }
        .dp-card--subtitle {
            @include type-button();
            color: $card-color-gray;
        }
        .dp-card--text {
            @include type-body-1();
            @extend %break-word;
        }
    }
    .dp-card--actions {
        padding: ($card-padding * 3) 0;
        border-top: $card-border;
        text-align: center;
    }
}