@import "../../scss/variables";
@import "../../scss/mixins";

.dp-initial {
    display: inline-block;
    position: relative;

    &.dp-initial--stylized {
        background: $initial-background;
        border-radius: $initial-border-radius;

        &.dp-initial--small {
            width: $initial-size * 6;
            height: $initial-size * 6;
        }
        &.dp-initial--medium {
            width: $initial-size * 8;
            height: $initial-size * 8;
        }
        &.dp-initial--large {
            width: $initial-size * 16;
            height: $initial-size * 16;

            .dp-initial--value {
                font-size: $initial-font-size * 2;
            }
        }
        &[uib-tooltip] {

            &:hover {
                background: $initial-background-hover;
                cursor: pointer;
            }
        }
    }
    .dp-initial--value {
        @include dp-absolute();
        font-size: $initial-font-size;
        font-weight: 400;
        z-index: 1;
    }
}