<div class="header">
    <div class="header-content">
        <a href="/"><mat-icon>keyboard_return</mat-icon> Return</a>
    </div>
</div>
<div class="content">
    <span class="heading">Devices</span>
    
    <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="example-table-container">
        <table mat-table [dataSource]="devices" class="example-table"
            matSort matSortActive="description" matSortDisableClear>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.supportsStatusCheck"><i class="fa fa-circle {{row.status ? 'text-info' : 'text-danger'}} Blink"></i>&nbsp;{{row.description}}</span>    
                    <span *ngIf="!row.supportsStatusCheck">{{row.description}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
                <td mat-cell *matCellDef="let row">{{row.manufacturer}}</td>
            </ng-container>

            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef>Model</th>
                <td mat-cell *matCellDef="let row">{{row.model}}</td>
            </ng-container>

            <ng-container matColumnDef="manufacturerId">
                <th mat-header-cell *matHeaderCellDef>Manufacturer Identifier</th>
                <td mat-cell *matCellDef="let row">{{row.manufacturerId}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="deleteDevice(row.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div class="footer"></div>