<div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div class="example-table-container" *ngIf="!isLoading && !adding && !editing">
    <div class="heading">Devices</div>
    <button mat-raised-button color="primary" (click)="add()">Add Device</button>
    <table mat-table [dataSource]="devices" class="example-table"
        matSort matSortActive="description" matSortDisableClear>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.supportsStatusCheck"><i class="fa fa-circle {{row.status ? 'text-info' : 'text-danger'}} Blink"></i>&nbsp;{{row.description}}</span>    
                <span *ngIf="!row.supportsStatusCheck">{{row.description}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
            <td mat-cell *matCellDef="let row">{{row.manufacturer}}</td>
        </ng-container>

        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef>Model</th>
            <td mat-cell *matCellDef="let row">{{row.model}}</td>
        </ng-container>

        <ng-container matColumnDef="manufacturerId">
            <th mat-header-cell *matHeaderCellDef>Manufacturer Identifier</th>
            <td mat-cell *matCellDef="let row">{{row.manufacturerId}}</td>
        </ng-container>

        <ng-container matColumnDef="supportsStatusCheck">
            <th mat-header-cell *matHeaderCellDef>Supports Status Checks?</th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.supportsStatusCheck">
                    <mat-icon>check</mat-icon>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <div class="actions">
                    <button mat-icon-button color="primary" aria-label="edit" (click)="edit(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(row)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="device-modify" *ngIf="editing || adding">
    <div class="heading"><p> {{ adding ? "Add" : "Edit" }} Device</p></div>
    <div class="modify-form">
        <form [formGroup]="modifyFormGroup">
            <fieldset>
                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_description_input"
                        class="dp-textfield--input"
                        formControlName="description"
                        [(ngModel)]="modifyDevice.description"
                        matInput
                        required />
                    <mat-label>Name</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_manufacturer_input"
                        class="dp-textfield--input"
                        formControlName="manufacturer"
                        [(ngModel)]="modifyDevice.manufacturer"
                        matInput
                        required />
                    <mat-label>Manufacturer</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_maodel_input"
                        class="dp-textfield--input"
                        formControlName="model"
                        [(ngModel)]="modifyDevice.model"
                        matInput
                        required />
                    <mat-label>Model</mat-label>
                </mat-form-field>

                <mat-form-field appearance="fill" class="modify-field">
                    <input id="modify_manufacturer_id_input"
                        class="dp-textfield--input"
                        formControlName="manufacturerId"
                        [(ngModel)]="modifyDevice.manufacturerId"
                        matInput
                        required />
                    <mat-label>Manufacturer Id</mat-label>
                </mat-form-field>
            </fieldset>
        </form>
    </div>
    
    <div class="modify-actions" *ngIf="adding">
        <button mat-raised-button color="primary" (click)="create()" [disabled]="!modifyFormGroup.valid || processing"><mat-icon>save</mat-icon> Create</button>
        <button mat-raised-button color="warn" (click)="cancelAdd()"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
    <div class="modify-actions" *ngIf="editing">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!hasChanges || !modifyFormGroup.valid || processing"><mat-icon>save</mat-icon> Save</button>
        <button mat-raised-button color="warn" (click)="cancelEdit()"><mat-icon>cancel</mat-icon> Cancel</button>
    </div>
</div>