.header {
    text-align: left;
}

.header-content {
    vertical-align: middle;
    width: 100%;
}

.header-content .mat-icon {
    padding-right: .2em;
}

.header-content a {
    color: white;
    text-decoration: none;
}

.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}


.device-modify {
  display: flex;
  flex-direction: column;

  .heading {
      order: 1;
  }

  .modify-form {
      order: 2;
  }

  .modify-actions {
      order: 3;
      
      button {
          margin: 2px 6px
      }    
  } 
}

.device-modify fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 400px;
}